body {
    font-family: Arial, sans-serif;
    background-color: #cccccc;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    border-radius: 8px;
    margin-bottom: 12px;
}
div{
    border: 1px solid #ccc; 
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

h1{
    text-align: center;
}
